* text=auto eol=lf

*.cmd text eol=crlf
*.bat text eol=crlf

*.ino text eol=lf
*.h text eol=lf
*.cpp text eol=lf
*.c text eol=lf
*.html text eol=lf
*.css text eol=lf
*.js text eol=lf
*.md text eol=lf
*.yaml text eol=lf
*.yml text eol=lf

*.stl binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
*.pdf binary
*.zip binary
*.7z binary
*.gz binary
*.bin binary
*.elf binary
*.hex binary
*.uf2 binary
*.exe binary
*.mp4 binary
*.mov binary
*.webm binary
